* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Todo el grid de la manera mas ordenada posible
*/

.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 20%;
  grid-template-rows:
    15%
    5%
    auto
    5%;
  grid-template-areas:
    "mycab mycab mycab mycab"
    "mynav mynav mynav mynav"
    "mymain mymain mymain myaside"
    "pie pie pie pie";
  justify-content: stretch;
  column-gap: 1%;
  row-gap: 3%;
  background-color: #2196f3;
  padding: 1%;
  margin: 2%;
}

/*-----------------CABERCERA---------------------*/
header {
  grid-area: mycab;
  background-color: #b33c3c;
  background-image: url("Galeria/D&D.jpg");
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}
header h1 {
  margin: 5%;
  text-align: center;
}

/*-----------------NAVEGADOR---------------------*/
nav {
  grid-area: mynav;
  background-color: #3a7047;
}

/*-----------------MAIN---------------------*/
main {
  grid-area: mymain;
  background-color: #802d74;
}

/*-----------------ASIDE---------------------*/
aside {
  grid-area: myaside;
  padding: 5%;
  background-color: rgb(255, 0, 0);
}
aside h2 {
  text-align: center;
}
aside h3 {
  text-align: center;
  color: #1e2221;
  text-decoration: underline;
}
aside ul {
  background: #f6af88;
  padding: 20px;
  list-style-position: inside;
  list-style-type: none;
}
ul li {
  background: #fae3d7;
  padding: 5px;
  margin: 5px;
  border-left: 10px solid #78281f;
}
aside img{
  
}
/*-------Article Clases--------*/
.clases {
  margin: 2%;
  background-color: rgb(196, 172, 172);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: stretch;
}
.clases > article {
  margin: 2%;
  padding: 2%;
  text-align: center;
  /* intento de alinear el texto */
  float: right;
  background-color: white;
}
.clases > article > h1 {
  margin: 2%;
}

.clases > article > img {
  margin: 5%;
  max-width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
/*-------Article galeria--------*/
.galeria {
  background-color: rgb(196, 172, 172);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
  gap: 25px;
 /* margin: 2%;*/
}
.galeria img {
  border: #2196f3;
  max-width: 100%;
}
.galeria :first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
/*-----------------FOOTER---------------------*/
footer {
  grid-area: pie;
  background-color: #a19999;
}

/*
Fin del Grid, o eso espero
*/

/*
Comienza el css de todo lo que hay dentro
*/
